@{
    ViewBag.Title = "Bekräfta e-post";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tack för att du bekräftade din e-post. Vänligen @Html.ActionLink("Klicka här för att logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
